
[workspace]
name = "cryoluge"
description = "A library for high-performance analysis of data from Cryo-EM and Cryo-ET"
version = "0.1.0"
authors = ["jeff <jeff@cuchazinteractive.com>"]
platforms = ["linux-64"]
channels = [
    "https://conda.modular.com/max-nightly",
    "conda-forge"
]

[dependencies]
# TEMP: use nightly for now, since many things aren't working correctly in the 25.5 stable release
#       see releases here: https://prefix.dev/channels/max-nightly/packages/mojo
mojo = "==0.25.7.0"

[tasks]
build_dir = "rm -rf build 2> /dev/null; mkdir -p build"
build_pkg = { cmd = "mojo package -o build/cryoluge.mojopkg src/cryoluge", depends-on = ["build_dir"] }
test = { cmd = "mojo run -I build -D ASSERT=all --debug-level line-tables test/suite.mojo", depends-on = ["build_pkg"] }
# NOTE: `mojo test` doesn't seem to support `-flag=value` syntax, only `-flag value`
